* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .body {
    width: 100vw;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1521587760476-6c12a4b040da?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYyOTE0MDQxOQ&ixlib=rb-1.2.1&q=85');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    background: #292929;
    min-width: 300px;
    height: 140px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .card i {
    color: #d44444;
    font-size: 2rem;
    position: absolute;
    transition: all 0.4s ease;
  }
  
  .card-title {
    color: #d44444;
    font-size: 1.2rem;
    text-transform: uppercase;
    transform: translate(0,-80px);
    transition: all 0.4s ease;
  }
  
  .card-info {
    color: #fff;
    margin-top: 10px;
    transform: translate(0, 80px);
    transition: all 0.4s ease;
  }
  
  .card:hover i {
    transform: scale(2);
    opacity: 0;
  }
  
  .card:hover .card-title {
    transform: translate(0, 0);
  }
  .card:hover .card-info {
    transform: translate(0, 0);
  }
  
  @media screen and (max-width: 900px) {
    .card {
      flex: 100%; 
      max-width: 500px;
    }
  }
  :root {
    --bc: #f9f3ee;
    --bc-dark: #141412;
    --primary: rgb(161, 166, 252);
    --accent1: rgba(251,161,229,1);
    --accent2: rgba(241,196,161,1);
    --white: #ffffff;
    --black: #000000;
    /* Gray Colors */
    --bc-gray: #ede8e4;
    --gray: #9e9d9b;
    --gray-dark: #1c1a19;
    /* Gradients */
    --pace: linear-gradient(90deg, rgba(161,166,252,1) 0%, rgba(251,161,229,1) 50%, rgba(241,196,161,1) 100%);
    /* Sizes */
    --heading: 3.4rem;
    --paragraph: 1.1rem;
    --button-small: 1rem;
    /* Fonts */
    --font-main: "Poppins";
}
* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    width: 100%;
    font-family: var(--font-main);
    background-color: var(--bc);
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}
main {
    min-height: 100vh;
}
textarea {
    min-height: 10em;
    font-family: var(--font-main);
    transition: opacity .15s ease-in-out;
    resize: none;
}
textarea::-webkit-scrollbar-track {
    background-color: transparent;
}
textarea::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}
textarea::-webkit-scrollbar-thumb {
    border-radius: 5em;
    background-color: var(--primary);
}
/* Global classes */
.space {
    min-height: 25vh;
}
.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexbox-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.flexbox-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.flexbox-col {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.flexbox-col-left {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}
.flexbox-col-right {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
}
.flexbox-left-start {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.flexbox-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Form */
.form-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#form {
    width: 75%;
}
.form {
    width: 100%;
}
.form-title {
    margin: 1em 0 0 0;
    font-size: var(--heading);
    font-weight: 800;
}
.form-undertitle {
    margin: 0 0 1em 0;
    color: var(--gray);
    font-weight: 300;
}
.send-success {
    width: 100%;
    padding: 1em;
    border-radius: 4px;
    background-color: var(--light-green);
    color: var(--white);
}
.send-error {
    width: 100%;
    padding: 1em;
    border-radius: 4px;
    background-color: var(--red);
    color: var(--white);
}
.form-text {
    margin: 1em 0 .75em 2.2em;
    color: var(--gray-dark);
    font-weight: 300;
}
.form-input-grid {
    margin: 1.5em 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.5em;
}
.form-input-max {
    margin: 1.5em 0;
}
.form-input-wrapper {
    width: 100%;
    position: relative;
}
.form-input-wrapper i {
    left: 1em;
    position: absolute;
    font-size: 1.88rem;
    color: var(--primary);
    text-shadow: 0 0 4px rgba(161, 166, 252, .5);
}
#textarea textarea {
    border-radius: 2.25em;
}
#textarea i {
    top: .6em;
}
.form-input {
    width: 100%;
    padding: 1.2em 1.2em 1.2em 3.6em;
    font-size: 1.22rem;
    border-radius: 5em;
    box-shadow: 0 5px 20px 0 rgba(237, 232, 228, .8);
    background-color: var(--bc-gray);
    border: 2px solid var(--bc-gray);
    transition: border .15s ease-in-out;
}
.form-input:hover {
    border: 2px solid var(--primary);
}
.form-input:focus {
    outline: none;
    border: 2px solid var(--primary);
}
#form-button {
    font-size: 1.22rem;
}
/* Button */
.button-wrapper {
    margin: 2em 0 1em 0;
}
.button, .btn-secondary {
    margin: 0;
    width: 100%;
    position: relative;
    padding: 1.2em 1.8em;
    letter-spacing: .1em;
    text-align: center;
    color: var(--white);
    font-size: var(--button-small);
    background: var(--pace);
    background-size: 500%;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transform: scaleX(1);
    transition: transform .3s cubic-bezier(.175,.885,.32,1.275), filter .3s cubic-bezier(.175,.885,.32,1.275), bottom .3s cubic-bezier(.175,.885,.32,1.275), background-position 3s cubic-bezier(.455,.03,.515,.955), -webkit-transform .3s cubic-bezier(.175,.885,.32,1.275), -webkit-filter .3s cubic-bezier(.175,.885,.32,1.275);
}
.button {
    transition: transform .3s cubic-bezier(.175,.885,.32,1.275), bottom .3s cubic-bezier(.175,.885,.32,1.275), background-position 3s cubic-bezier(.455,.03,.515,.955), -webkit-transform .3s cubic-bezier(.175,.885,.32,1.275);
}
.button, .button .btn-secondary {
    background-position: 0 50%;
    bottom: 0;
}
.button .btn-secondary {
    left: 0;
    width: 100%;
    position: absolute;
    filter: blur(1rem);
    opacity: .8;
    z-index: -1;
    transform: scale3d(.9, .9, 1);
    transition: transform .3s cubic-bezier(.175,.885,.32,1.275), filter .3s cubic-bezier(.175,.885,.32,1.275), bottom .3s cubic-bezier(.175,.885,.32,1.275), background-position 3s cubic-bezier(.455,.03,.515,.955), -webkit-transform .3s cubic-bezier(.175,.885,.32,1.275), -webkit-filter .3s cubic-bezier(.175,.885,.32,1.275);
}
.button:focus, .button:hover {
    transform: scale3d(1.1, 1.1, 1);
    background-position: 100% 50%;
    outline: none;
    bottom: 2px;
}
.button:focus .btn-secondary, .button:hover .btn-secondary {
    background-position: 100% 50%;
    filter: blur(1.6rem);
    bottom: -5px;
}
/* Media Rules */
@media only screen and (max-width: 1660px) {
    :root {
        /* Sizes */
        --heading: 3rem;
    }
}
@media only screen and (max-width: 1456px) {
    :root {
        /* Sizes */
        --heading: 2.8rem;
    }
}
@media only screen and (max-width: 1024px) {
    :root {
        /* Sizes */
        --heading: 2.4rem;
    }
    /* Form */
    #form {
        width: 85%;
    }
}
@media only screen and (max-width: 756px) {
    :root {
        /* Sizes */
        --heading: 2.2rem;
    }
    /* Form */
    #form {
        width: 90%;
    }
}
@media only screen and (max-width: 576px) {
    /* Form */
    .form-input-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 0;
        grid-row-gap: 1.5em;
    }
}
@media only screen and (max-width: 496px) {
    :root {
        /* Sizes */
        --heading: 1.75rem;
    }
}
/* Navbar */
body {
    margin: 0;
    padding: 0;
    background: #efefef;
    color: #000000;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
    background-color: black;
  }
  
  a {
    text-decoration: none !important;
    color: #232323;
    transition: color 0.3s ease;
  }
  
  a:hover {
    color: #2ecc71;
  }
  
  #menuToggle {
    display: block;
    position: absolute;
    top: 50px;
    right: 50px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }
  
  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }
  
  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
  }
  
  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }
  
  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  
  #menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }
  
  #menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  #menuToggle input:checked~span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
  }
  
  #menu {
    position: absolute;
    width: 200px;
    margin: -100px 0 0 0;
    padding: 50px;
    padding-top: 125px;
    right: -100px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
      height: 500px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  }
  
  #menu li {
    padding: 10px 0;
    font-size: 22px;
      padding-right: 60px;
  }
  
  #menuToggle input:checked~ul {
    transform: scale(1.0, 1.0);
    opacity: 1;
  }
   /* headings  */
.abot{
	
	text-transform: uppercase;
  color: white;
  }
  .shado{
  
 font-size: 4rem;
 line-height: 1;
 font-weight: 900;
 color: rgba(61, 66, 85, 0.44);
 display: inline-block;
 text-transform: uppercase;
 z-index: -1;
 transform: translateY(-40%);
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
 white-space: nowrap;
  }