@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
:root {
  --curve: 40;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #0e1410;
}

.cards{
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
  gap:2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style: none;
}

.card {
  position: relative;
  display: block;
  height: 100%;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card-image{
  width:100%;
  height:auto;
}

.card_overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 1px);
  background-color: var(--surface-color);
  transform: translateY(100%);
  transition: 0.2s ease-in-out;
}

.card:hover .card_overlay {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

.card-header{
  position: relative;
  display:flex;
  align-items: center;
  gap:2rem;
  border-radius: calc(var(--curve) * 1px) 0 0 0; 
  background-color:#cfc6c7;
  padding:2em;
  transform: translateY(-100%); 
  transition: 0.2s ease-in-out; 

}

.card-arc{
  width:5em;
  height:5em;
  position:absolute;
  bottom:100%;
  right:0;
  z-index: 1;
}

.card-arc path{
  fill:var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card:hover .card-header{
  transform: translateY(0);  
}

.card-thumb{
  flex-shrink: 0;
  width:3.125em;
  height:3.125em;
  border-radius: 50%;
}

.card-title{
  font-size: 1.3rem;
  margin:0 0 0.3em;
  color: #52b17a;
}

.card-description {
  padding-bottom: 10rem;
  margin:0;
  color: #bb4b1b;
  display:-webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-align: center;
  background-color: #cfc6c7;
  font-weight: bold;
  font-size: 18px;
}

/* navbar */
body {
  margin: 0;
  padding: 0;
  background: #efefef;
  color: #000000;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  background-color: black;
}

a {
  text-decoration: none !important;
  color: #232323;
  transition: color 0.3s ease;
}

a:hover {
  color: #2ecc71;
}

#menuToggle {
  display: block;
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
  background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
  opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked~span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 200px;
  margin: -100px 0 0 0;
  padding: 50px;
  padding-top: 125px;
  right: -100px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
    height: 400px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
    padding-right: 60px;
}

#menuToggle input:checked~ul {
  transform: scale(1.0, 1.0);
  opacity: 1;
}
.abot{
	
	text-transform: uppercase;
  color: white;
  }
  .shado{
  
 font-size: 4rem;
 line-height: 1;
 font-weight: 900;
 color: rgba(61, 66, 85, 0.44);
 display: inline-block;
 text-transform: uppercase;
 z-index: -1;
 transform: translateY(-40%);
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
 white-space: nowrap;
  }